funsound/__pycache__
funsound/onnx/__pycache__
funasr_models
audio
dataset
funsound/examples/数学_吃西瓜.mp3
funsound/onnx/offline/__pycache__/SeacoParaformer.cpython-312.pyc
funsound/onnx/offline/__pycache__/Server.cpython-312.pyc
Linux_cnenesr_e75f07b62_v1.0.8_v2.2.15-rc5
.vscode
__MACOSX/
funsound/onnx/offline/__pycache__/SeacoParaformer.cpython-311.pyc
Linux_cnenesr_e75f07b62_v1.0.8_v2.2.15-rc5.zip
sr16k.sh
